header h1 {
    font-size: 18px;
    color: #30A;
}

header {
    background-color: lightblue;
}

#firstp {
    color:rgba(255, 0, 200, 0.5);
}

.bolder{
    font-weight: bold;
}

.darker{
    color: brown;
}