body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #1c3d5b;
    color: white;
}
header h1 {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.spacer {
    width: 150px;
    text-align: right;
}

input:not([type='submit']), select, textarea {
    padding: 10px;
    font-size: 1.5em;
    border-radius: 3px;
    background-color: #AAA;
}

input:not([type='submit']):focus, select:focus, textarea:focus {
    background-color: white;
}

input[type='submit']{
    padding: 10px;
    background-color:  #2980b9;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(200, 200, 200, 0.5);
}
input[type='submit']:hover {
    background-color: #1f669a; 
}

fieldset {
    box-shadow: 5px 5px 3px rgba(200, 200, 200, 0.5);
    background-color: #2c3e50; 
    color: black; 
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}

legend {
    padding: 10px;
    background-color: #34495e;
    color: white;
}

fieldset > fieldset {
    background-color: #ecf0f1; 
    border: 1px solid #bdc3c7; 
    padding: 15px;
    margin-top: 20px;
}

fieldset > fieldset legend {
    background-color: #bdc3c7; 
    color: black;  
    padding: 8px;
}
footer{
    background-color: #1c3d5b;
    color: white;
    text-align: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .form-row, .check-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .spacer {
        text-align: left;
    }
}
